.parent {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin 0 auto; */
   
    
  }
  
  .child-row {
    /* background-color: rgb(222, 243, 129); */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* height: 50px; */
  }
  
  .data {
    background-color: rgb(190, 141, 223);
    color: rgb(10, 8, 153);
    font-weight: bold;
    margin: 5px;
    height: 30px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 0.75em;  
    /* padding: -0.5em 5px -0.75em 5px;  */

    /* box-sizing: content-box; */
    /* display: initial; */
    /* line-height: 10%; */
  }

  
  